main {
  margin-right: auto;
  margin-left: auto;
}
header {
  margin-top: 35px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.about-and-share {
  min-height: 100px;
  margin-top: 32px;
  margin-bottom: 48px;
  padding-top: 20px;
}
footer {
  margin-top: 79px;
  padding-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
