/*border separating the major sections, applied to top of element*/
.top-of-section-border {
  border-style: solid;
  border-width: 15px 0px 0px;
  -moz-border-image: url("../images/border.png") 15 0 0;
  -webkit-border-image: url("../images/border.png") 15 0 0;
  -o-border-image: url("../images/border.png") 15 0 0;
  border-image: url("../images/border.png") 15 0 0 fill;
}

/*Delicious logo and tagline*/
.logo img {
  padding-top: 3px;
  padding-right: 8px;
}
.logo h3 {
  padding-left: 52px;
}

/*links to social media profiles, rss, email*/
.social {
  padding-top: 14px;
}
.social a {
  display: inline-block;
  margin: -1px;
}
.social a:nth-child(7) {
  padding-left: 10px;
}

/*primary recipe content*/
.title {
  padding-top: 58px;
  padding-bottom: 8px;
}
.featurepic {
  padding-top: 30px;
  padding-bottom: 21px;
  width: 100%;
}
article p {
  text-indent: 30px;
  padding-top: 6px;
  padding-bottom: 26px;
}

/*ingredients notepad*/
.pad {
  background-repeat: no-repeat;
}
.pad ul {
  list-style-type: none;
  display: inline-block;
}
.checklist {
 margin-left: 22px;
 text-indent: -22px;
}
.checklist span {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 8px;
}
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}
.flex-items-default {
    width: 300px;
    height: 250px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 0;
}
 .flex-item-1 {
    width: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
}
 .flex-item-2 {
    width: 300px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 250px;
}

/*About Section*/
.about-the-author img {
  padding-right: 20px;
}
.about-the-author h1 {
  padding-bottom: 15px;
  padding-top: 6px;
}
.about-the-author {
  padding-right: 10px;
}
.sharebutton {
  background-color: #BC7058;
  color: white;
  font-size: 18px;
  text-align: center;
  float: right;
  margin-top: 11px;
  padding: 18px 42px;
}

/*footer*/
footer {
  border-top: 1px solid #ececec;
  text-align: center;
  height: 150px;
}
footer img {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -22px;
  border: 5px solid white;
  background-color: white;
}
footer p {
  position: relative;
}
