
/*ingredients notepad*/
.box {
  background-image: url("../images/checkbox.png");
}
.cbox {
  background-image: url("../images/checked.png");
}
.checked {
  text-decoration: line-through;
}
/*share button hover menu*/
.share-menu {
  display: none;
  text-align: center;
  float: right;
  width: 185px;
}
